{% extends 'base.html.twig' %}

{% block title %}
    <trans-unit id="title.user_details">
        <source>title.user_details</source>
        <target>User details #%id%</target>
    </trans-unit>
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{  user.email }}</dd>
            <dd>
                {% for role in user.roles %}
                    <span class="badge bg-primary">{{ role }}</span>
                {% endfor %}
            </dd>



        </dl>
        <p>
            <a href="{{ url('user_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}